body {
  font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/bg.png");
  background-size: cover;
  
}

header{
    position: absolute;
    top: 0;
    background-color:purple;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px 100px 0px;
    align-items: center;
}

header nav{
    display: flex;
}

header nav ul a{
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: green;
}

.login {
  max-width: 1000px;
  min-width: 800px;
  width: 70%;
  height: 500px;
  border-radius: 16px;
  background-image: url("images/bg.png");
  display: flex;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.3);
}

.box1 {
  width: 60%;
  background-color: transparent;
}

.box2 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  display: block;
  width: 250px;
  font-size: 16px;
  background-color: purple;
  margin-top: 20px;
  border-radius: 25px;
  padding: 5px;
  border: 0px;
  color: white;
  height: 40px;
}

button:hover {
  color: white;
  background-color: indigo;
}

input {
  display: block;
  margin: 5px;
  width: 250px;
  height: 40px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 25px;
  border: 1px solid #aaaaaa;
  font-size: 15px;
}

input:focus {
  background-color: #2323;
}

.box {
  width: 100%;
  margin: auto;
}

.user_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 24px;
}

a {
  font-size: 12px;
  color: rgba(129, 0, 129, 0.479);
}

p {
  font-size: 13px;
  color: purple;
}

* {
  box-sizing: border-box;
}
